body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.first-section {
    display: flex;
    margin-bottom: 40px;
}

.one {
    width: 50%;
    padding-left: 10px;
}

.one img {
    width: 80%;
    padding-top: 8px;
    border-radius: 5px;
}

.link-button {
    text-decoration: none;
    background-color: salmon;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
}

.two {
    text-align: center;
    margin-bottom: 30px;
}